In [ ]:
import numpy as np
import pandas as pd

In [ ]:
s = pd.Series([0, 0.25 , 0.5 , 0.75 , 1.0]) #데이터를 index와 values 형태로 저장
print(s)
print(s.values) # values 값만 출력
print(s.index) # index 값만 출력
print(s[1])  # 부분 추출
print(s[1:4])

In [ ]:
s = pd.Series([0, 0.25 , 0.5 , 0.75 , 1.0],
                index = [ 'a' , 'b' , 'c' , 'd' , 'e']) #인덱스를 따로 정해줌 a , b , c , d , e

print(s['c']) # s 의 c index 의 values 값을 출력
print(s[['c' , 'd' , 'e']]) # index c , d , e 값만 출력
print('b' in s) # b 라는 index가 있는지 물어봄 True
print('g' in s) # g 라는 index가 있는지 물어봄 False

In [ ]:
s = pd.Series([0 , 0.25 , 0.5 , 0.75 , 1.0],
                index=[2 , 4 , 6 , 8 , 10])

print(s)
print(s[2:]) # 슬라이싱
print(s.unique()) # 독특한 값만 출력
print(s.value_counts()) # s 의 value 값을 카운트 해줌 0.5 가 몇갠지 , 0.75가 몇갠지
print(s.isin([0.25 , 0.5])) # 0.25와 0.75가 어디 있는지 bool형태

In [ ]:
pop_tuple = {'서울특별시': 9720846,
             '부산광역시' : 3404423,
             '인천광역시' : 2947217,
             '대구광역시' : 2427954,
             '광주광역시': 1455048}

population = pd.Series(pop_tuple)
print(pop_tuple)
print(population['서울특별시']) # 서울 특별시 인구 출력
print(population['서울특별시':'인천광역시']) # 슬라이싱해서 값을 알려줌

In [ ]:
pd.DataFrame([{'A' :2 , 'B' : 4 , 'D' : 3} , {'A':4 , 'B': 5 , 'C' : 7}]) #dict형태로 만든 후 출력 해보면 Nan은 값이 누락된것을 의미하고 Nan으로대체 함

In [ ]:
pd.DataFrame(np.random.rand(5,5),
             columns= ['A' , 'B' , 'C' , 'D' , 'E'],
             index=[1,2,3,4,5]) # 랜덤값이 들어간 상태로 출력하기

In [ ]:
male_tuple= {'서울특별시': 4732275,
            '부산광역시' : 1668618,
            '인천광역시' : 1476813,
            '대구광역시' : 1198815,
            '광주광역시': 720060}

male = pd.Series(male_tuple)
print(male)

In [ ]:
female_tuple= {'서울특별시': 4988571,
             '부산광역시' : 1735805,
             '인천광역시' : 1470404,
             '대구광역시' : 1229139,
             '광주광역시': 734988}

female = pd.Series(female_tuple)
print(female)

In [ ]:
kor_df = pd.DataFrame({'인구' : population ,
                       '남자 인구수' : male,
                       '여자 인구수' : female})

print(kor_df)
print(kor_df.index)
print(kor_df.columns)
print(kor_df['여자 인구수'])
print(kor_df['서울특별시':'인천광역시']) #서울 특별시 인구부터 인천 광역시 인구까지

In [ ]:
idx = pd.Index([2, 4, 6, 8, 10])
print(idx)
print(idx[1])
print(idx[1:2:2])
print(idx[-1::])
print(idx[::2])

print(idx)
print(idx.size) # idx의 크기
print(idx.shape) # idx은 1차원이라는걸 알려줌
print(idx.ndim) # idx의 차원수
print(idx.dtype) # 데이터 타입

In [ ]:
idx1 = pd.Index([1,2,4,6,8])
idx2 = pd.Index([2,4,5,6,7])

print(idx1.append((idx2))) # idx1과 idx2가 결합된

print(idx1.difference((idx2))) # idx1과idx2의 차집합
print(idx1 - idx2) # 차집합과 같은 원리

print(idx1.intersection(idx2)) # 공통된 교집합만 출력
print(idx1 & idx2) # 교집합과 같은 원리

print(idx.union((idx2))) #중복된걸 빼고 결과를 나타냄
print(idx1 | idx2 ) # union과 같은 원리

print(idx1.delete(0)) # 0값을 삭제
print(idx1.drop(1)) # 맨 앞에 1 값이 빠짐
print(idx1 ^ idx2) # 여집합

In [ ]:
s = pd.Series([0, 0.25 , 0.5 , 0.75 , 1.0],
              index = [ 'a' , 'b' ,'c' ,'d','e'])

print(s['b'])

print('b' in s)

print(s.keys())

print(list(s.items())) #값들이 리스트 형태로 출력이 됨

s['f'] = 1.25 # f의 index와 value를 추가함

print(s['a':'d']) # 특정 부분 인덱스로 되있는 a 부터 d 까지의 값을 출력함
print(s[0:4]) # 위와 동일한 결과를 출력이 가능함

print(s[(s > 0.4) & (s < 0.8)]) # 조건에 맞게만 출력 0.4 초과 0.8 미만

print(s[['a' , 'c' , 'e']])

In [ ]:
s = pd.Series(['a' , 'b' , 'c' , 'd' , 'e'],
              index=[1,3,5,7,9])

print(s)

print(s[2:4])

print(s.iloc[1]) # 1의 자리 index 값을 출력

print(s.iloc[2:4])

print(s.reindex(range(10))) 

print(s.reindex(range(10), method= 'bfill')) #위에 reindex를 그냥하면 NAN이라는 비어있는 값들을 위에 있는 값으로 채워서 출력을 시켜줌

In [ ]:
kor_df['남자 인구수']

kor_df.남자 인구수