In [7]:
import numpy as np
import pandas as pd

In [16]:
s = pd.Series([0, 0.25 , 0.5 , 0.75 , 1.0]) #데이터를 index와 values 형태로 저장
print(s)
print(s.values) # values 값만 출력
print(s.index) # index 값만 출력
print(s[1])  # 부분 추출
print(s[1:4])

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64
[0.   0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=5, step=1)
0.25
1    0.25
2    0.50
3    0.75
dtype: float64

In [28]:
s = pd.Series([0, 0.25 , 0.5 , 0.75 , 1.0],
                index = [ 'a' , 'b' , 'c' , 'd' , 'e']) #인덱스를 따로 정해줌 a , b , c , d , e

print(s['c']) # s 의 c index 의 values 값을 출력
print(s[['c' , 'd' , 'e']]) # index c , d , e 값만 출력
print('b' in s) # b 라는 index가 있는지 물어봄 True
print('g' in s) # g 라는 index가 있는지 물어봄 False

0.5
c    0.50
d    0.75
e    1.00
dtype: float64
True
False

In [35]:
s = pd.Series([0 , 0.25 , 0.5 , 0.75 , 1.0],
                index=[2 , 4 , 6 , 8 , 10])

print(s)
print(s[2:]) # 슬라이싱
print(s.unique()) # 독특한 값만 출력
print(s.value_counts()) # s 의 value 값을 카운트 해줌 0.5 가 몇갠지 , 0.75가 몇갠지
print(s.isin([0.25 , 0.5])) # 0.25와 0.75가 어디 있는지 bool형태

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64
6     0.50
8     0.75
10    1.00
dtype: float64
[0.   0.25 0.5  0.75 1.  ]
0.00    1
1.00    1
0.50    1
0.75    1
0.25    1
dtype: int64
2     False
4      True
6      True
8     False
10    False
dtype: bool

In [40]:
pop_tuple = {'서울특별시': 9720846,
             '부산광역시' : 3404423,
             '인천광역시' : 2947217,
             '대구광역시' : 2427954,
             '광주광역시': 1455048}

population = pd.Series(pop_tuple)
print(pop_tuple)
print(population['서울특별시']) # 서울 특별시 인구 출력
print(population['서울특별시':'인천광역시']) # 슬라이싱해서 값을 알려줌

{'서울특별시': 9720846, '부산광역시': 3404423, '인천광역시': 2947217, '대구광역시': 2427954, '광주광역시': 1455048}
9720846
서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
dtype: int64

In [41]:
pd.DataFrame([{'A' :2 , 'B' : 4 , 'D' : 3} , {'A':4 , 'B': 5 , 'C' : 7}]) #dict형태로 만든 후 출력 해보면 Nan은 값이 누락된것을 의미하고 Nan으로대체 함

   A  B    D    C
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [42]:
pd.DataFrame(np.random.rand(5,5),
             columns= ['A' , 'B' , 'C' , 'D' , 'E'],
             index=[1,2,3,4,5]) # 랜덤값이 들어간 상태로 출력하기

          A         B         C         D         E
1  0.673659  0.805219  0.418727  0.651077  0.094019
2  0.275259  0.993044  0.376249  0.075043  0.898892
3  0.931864  0.038603  0.006735  0.697752  0.718385
4  0.422275  0.133480  0.054310  0.210202  0.177944
5  0.676205  0.192869  0.019551  0.834254  0.742383

In [43]:
male_tuple= {'서울특별시': 4732275,
            '부산광역시' : 1668618,
            '인천광역시' : 1476813,
            '대구광역시' : 1198815,
            '광주광역시': 720060}

male = pd.Series(male_tuple)
print(male)

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
광주광역시    1455048
dtype: int64

In [49]:
female_tuple= {'서울특별시': 4988571,
             '부산광역시' : 1735805,
             '인천광역시' : 1470404,
             '대구광역시' : 1229139,
             '광주광역시': 734988}

female = pd.Series(female_tuple)
print(female)

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
광주광역시     734988
dtype: int64

In [62]:
kor_df = pd.DataFrame({'인구' : population ,
                       '남자 인구수' : male,
                       '여자 인구수' : female})

print(kor_df)
print(kor_df.index)
print(kor_df.columns)
print(kor_df['여자 인구수'])
print(kor_df['서울특별시':'인천광역시']) #서울 특별시 인구부터 인천 광역시 인구까지

            인구   남자 인구수   여자 인구수
서울특별시  9720846  9720846  4988571
부산광역시  3404423  3404423  1735805
인천광역시  2947217  2947217  1470404
대구광역시  2427954  2427954  1229139
광주광역시  1455048  1455048   734988
Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '광주광역시'], dtype='object')
Index(['인구', '남자 인구수', '여자 인구수'], dtype='object')
서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
광주광역시     734988
Name: 여자 인구수, dtype: int64
            인구   남자 인구수   여자 인구수
서울특별시  9720846  9720846  4988571
부산광역시  3404423  3404423  1735805
인천광역시  2947217  2947217  1470404

In [70]:
idx = pd.Index([2, 4, 6, 8, 10])
print(idx)
print(idx[1])
print(idx[1:2:2])
print(idx[-1::])
print(idx[::2])

print(idx)
print(idx.size) # idx의 크기
print(idx.shape) # idx은 1차원이라는걸 알려줌
print(idx.ndim) # idx의 차원수
print(idx.dtype) # 데이터 타입

Int64Index([2, 4, 6, 8, 10], dtype='int64')
4
Int64Index([4], dtype='int64')
Int64Index([10], dtype='int64')
Int64Index([2, 6, 10], dtype='int64')
Int64Index([2, 4, 6, 8, 10], dtype='int64')
5
(5,)
1
int64

In [75]:
idx1 = pd.Index([1,2,4,6,8])
idx2 = pd.Index([2,4,5,6,7])

print(idx1.append((idx2))) # idx1과 idx2가 결합된
print(idx1.difference((idx2))) # idx1과idx2의 차집합
print(idx1 - idx2)
print(idx1.intersection(idx2)) # 공통된 교집합만 출력
print(idx1 & idx2)

Int64Index([1, 2, 4, 6, 8, 2, 4, 5, 6, 7], dtype='int64')
Int64Index([1, 8], dtype='int64')
Int64Index([-1, -2, -1, 0, 1], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')

<ipython-input-75-7fc3119adec3>:8: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  print(idx1 & idx2)